/* applicant-title ------------------------------------------------------------------------------------------------------------------------------- */
.applicant-title,
.schedule-title {
    font-size: 34px;
    margin-bottom: 15px;
}

/* applicant ------------------------------------------------------------------------------------------------------------------------------------------- */
.applicant-wrap {
    background-color: #fff;
    padding-bottom: 30px;
}

/* applicant-info-title ------------------------------------------------------------------------------------------------------------------------------- */
.ait-comp {
    width: 100%;
    background-color: #fff;
    margin-top: 20px;
}

.ait-ul {
    display: flex;
    justify-content: space-around;
    border-radius: 15px 15px 0 0;
    background-color: #1E1F31;
}

.ait-ul li {
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    font-weight: bold;
    color: #fff;
}
/* applicant-list-item -------------------------------------------------------------------------------------------------------------------------------- */
.ali-comp {
    width: 100%;
    background-color: #fff;
}

.ali-ul {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #e6e6e6;
}

.ali-ul:hover {
    background-color: #c1c1c1;
    color: #fff;
}

.ali-ul li {
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    font-weight: bold;
    cursor: pointer;
}

/* page ----------------------------------------------------------------------------------------------------------------------------------------- */
.ali-paging-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 47px;
}

.ali-paging-ul li {
    margin-right: 10px;
}

.ali-paging-ul li:last-child {
    margin-right: 0;
}

.ali-paging-btn {
    width: 50px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #000000;
}

.ali-paging-btn:hover {
    background-color: #c1c1c1;
    color: #fff;
    border: 1px solid #c1c1c1;
}

.ali-no-paging-btn {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    color: #c1c1c1;
}

.ali-no-paging-btn:hover {
    background-color: #c1c1c1;
    color: #fff;
}

.ali-bd-radius-left {
    border-radius: 3px 0 0 3px;
}

.ali-bd-radius-right {
    border-radius: 0 3px 3px 0;
}

.ali-btn {
    cursor: pointer;
}

/* applicant-search ----------------------------------------------------------------------------------------------------------------------------------------- */
.as-criteria-wrap {
    display: flex;
    /* border: 1px solid #ff0000; */
    justify-content: space-around;
    align-items: center;
    height: 65px;
    border-radius: 15px;
    background-color: #fff;
}

.as-main-selected,
.as-sub-selected,
.as-search-box {
    display: flex;
    align-items: center;
}

#criteriaSelect,
#criteriaSubSelect,
.as-input-box {
    margin-left: 10px;
}

#criteriaSelect,
#criteriaSubSelect {
    width: 110px;
    height: 30px;
    padding-left: 10px;
}

.as-input-box {
    height: 30px;
    padding-left: 10px;
}

.as-search-btn {
    width: 80px;
    height: 35px;
    background-color: #2F3850;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* delete-attribute-css( 푸터 마진 탑 제거 ) ----------------------------------------------------------------------------------------------------------- */
.delete-attribute-css {
    margin-top: 0;
}

/* applicant-modar ( 직접 만든 모달 ) --------------------------------------------------------------------------------------------------------- */
.modal-bg {
    background-color: rgba(0, 0, 0, 0.50);
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
}

.modal-wrap {
    width: 600px;
    height: 300px;
    background-color: #fff;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 50px 10px 50px;
    z-index: 10;
}

.modal-wrap h1 {
    font-size: 20px;
}

.modal-wrap p {
    width: 80px;
}

.modal-wrap input {
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.applicant-info {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid #696969;
    margin-bottom: 20px;
}

.applicant-info-wrap {
    display: flex;
    justify-content: space-between;
}

.applicant-name,
.applicant-gender,
.applicant-phone,
.applicant-age,
.applicant-email,
.applicant-address {
    display: flex;
    align-items: center;
}

.modal-btn {
    text-align: center;
}

.cancel-btn {
    width: 80px;
    height: 35px;
    background-color: #e3e3e3;
    color: #000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
}

.modyfi-btn {
    width: 80px;
    height: 35px;
    background-color: #2F3850;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
}

.delete-btn {
    width: 80px;
    height: 35px;
    background-color: #c02828;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
    position: absolute;
    bottom: 27px;
    right: 50px;
}

.wd-420 input {
    width: 420px;
}

/* applicant-create-modar( 리액트 모달 사용 )---------------------------------------------------------------------------------------------- */
/* .create-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;
    background-color: white;
    padding: 30px 50px 10px 50px;
    border-radius: 15px;
}

.create-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
} */

/* applicant-create-modar -------------------------------------------------------------------------------------------------------------------- */
.acm-gender,
.am-gender {
    width: 150px;
    height: 30px;
    text-align: center;
}

/* confirmation-modal ---------------------------------------------------------------------------------------------------------------------- */
.confirmation-modal {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 120px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #1E1F31;
    color: #fff;
    z-index: 10;
}

.cm-confirm-btn {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.cm-onCancel {
    width: 60px;
    height: 35px;
    background-color: #e3e3e3;
    color: #000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 5px;
}

.cm-onConfirm {
    width: 60px;
    height: 35px;
    background-color: #2F3850;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 5px;
}

/* schedule-calendar ------------------------------------------------------------------------------------------------------------------- */
.schedule-calendar,
.schedule-create {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 30px 30px 0 30px;
    border-radius: 15px;
}

.schedule-create {
    display: flex;
}

.schedule-form {
    width: 620px;
    height: 675px;
    border: 1px solid #000;
    /* padding-right: 20px; */
}

.schedule-form label {
    display: flex;
    /* border: 1px solid #000; */
    align-items: center;
    justify-content: center;
}

.schedule-calendar-emp {
    width: 940px;
    height: 675px;
    /* border: 1px solid #000; */
}

.schedule-title-p p,
.schedule-date p {
    width: 15%;
    /* border: 1px solid #ff0000; */
}

.schedule-title-p input,
.schedule-date .date-box {
    width: 75%;
    /* border: 1px solid #ff00f7; */
}

.schedule-date .date-box {
    display: flex;
    justify-content: space-between;
}

.schedule-date .date-box input {
    width: 45%;
    text-align: center;
}