.leave-adjustment {
    padding: 20px;
}

.leave-adjustment h4 {
    margin-bottom: 10px;
}

.adjust-leave-table {
    width: 100%;
    border-collapse: collapse;
}

.adjust-leave-table th,
.adjust-leave-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.adjust-leave-table th {
    background-color: #f2f2f2;
    text-align: center;
}

.adjust-days {
    display: flex;
    align-items: center;
}

.adjust-days button {
    padding: 5px;
    margin: 0 5px;
}

.reason-buttons button {
    margin: 0 5px;
}

.save-button {
    margin-top: 10px;
    padding: 5px 10px;
}
